@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * @author Louis Figes
 * @generated Github Copilot was used in the creation of this code.
 */
html, body, label {
  font-family: system-ui;
}

@layer base {
    body {
        @apply m-0 text-white;
    }

    .primary {
        @apply bg-custom;
    }

    .primary-text {
        @apply text-slate-700;
    }

    .secondary {
        @apply bg-slate-700;
    }

    .secondary-text {
        @apply text-slate-700;
    }

    .tertiary {
        @apply bg-slate-800;
    }

    .tertiary-text {
        @apply text-slate-800;
    }

    .valid {
        @apply border border-green-500;
    }

    .invalid {
        @apply border border-red-500;
    }

    .disabled {
        @apply opacity-50 cursor-not-allowed;
    }

    .hover-scale {
        @apply hover:scale-1025 transition-all duration-200;
    }

    /* W3 SCHOOLS https://www.w3schools.com/howto/howto_css_primary_scrollbar.asp
    * converted to tailwind and styled
    */
    ::-webkit-scrollbar {
        @apply primary w-2.5;
    }

    ::-webkit-scrollbar-track {
        @apply primary outline outline-1 outline-slate-600;
    }
   
    ::-webkit-scrollbar-thumb {
        @apply bg-slate-500 rounded-lg;
    }
  
    ::-webkit-scrollbar-thumb:hover {
        @apply bg-slate-400; 
    }

    /** toggle switch w3schools remade in tailwind https://www.w3schools.com/howto/howto_css_switch.asp  */

    .switch {
        @apply relative w-16 h-[34px] inline-block;
      }
      
      .switch input { 
        @apply opacity-0 w-0 h-0;
      }
      
      .slider {
        @apply outline outline-red-700 absolute cursor-pointer top-0 left-0 right-0 bottom-0 secondary transition-all;
      }
      
      .slider:before {
        @apply absolute primary rounded-full transition-all left-1 bottom-1 w-6 h-6 content-[""];
      }
      
      input:checked + .slider {
        @apply bg-slate-700 outline outline-green-700;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
    .slider.round {
        @apply rounded-full;
    }
      
    .slider.round:before {
        @apply rounded-full;
    }

    .swiper-pagination-bullet {
        @apply bg-red-700;
    }
}